body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #323232;
    color: white;
}

h1 {
    margin-bottom: 64px;
    font-size: 50px;
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    background-color: white;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #323232;  /* Gleiche Farbe wie der Hintergrund */
    cursor: pointer;
}

.cell:hover {
    background-color: rgba(83, 46, 46, 0.3);
    cursor: pointer;
}
   
h1 {
    margin-bottom: 64px;
    font-size: 50px;
}
    
    



  
    



